@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.line {
    width: 100%;
    background-color: grey ;margin-top: 5%;
    margin-bottom: 5%;
}

#header {
    position: relative;
    background-image: url("/apple-pie/images/apple-pie.jpg");
    height: 600px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:100%;
    margin: 0;
    padding: 0;
}


.apple-pie {
    Position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white ;
    margin: auto;
    
}

.apple-pie-description {
    margin-top: 5%;
  
    text-align: center;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;

  
}


.body-recipe {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Open Sans';
}


.recipe-info {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    

}

.cooking-info {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    

}

.recipe-list {
    list-style-type: '-';
   
    margin-bottom: 5%;
}

.direction-list {
   
    margin-bottom: 5%;
}



html {
    font-family: sans-serif,"Open Sans";
    font-size: 18px;
    
  }

h1, body, html, main {
    margin: 0;
  }

  h2 {
    font-weight: bold;
  }